@model Tuple<Digikala.DataAccessLayer.Entities.Identity.User, string>
@{
     ViewData["Title"] = "فعالسازی ایمیل";
}

<div style="direction: rtl; padding: 20px">
     <h2>@Model.Item1.Email ایمیل : </h2>
     <p>با تشکر از ثبت نام شما در دیجی کالا ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
     <p>
          <a href="https://localhost:44314/Account/ConfirmEmail?code=@Model.Item1.ActiveCodeEmail&backPath=@Model.Item2">فعالسازی حساب کاربری</a>
     </p>
</div>