@model Digikala.DTOs.AccountDtos.ConfirmMobileDto

@{
    ViewBag.Title = "تایید شماره همراه";
    Layout = "_RegisterLayout";
}

@if (TempData["ResendActiveCode"] != null)
{
    <script>
        swal({
            title: "موفق",
            text: "کد فعالسازی شماره همراه برای شما پیامک گردید",
            icon: "success",
            button: false,
            timer: 2000
        });
    </script>
}


<!-- Start main-content -->
<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
    <div class="container main-container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                <!-- Start mini-header -->
                <partial name="Account/_PartialMiniHeader" />
                <!-- End mini-header -->
                <div class="auth-wrapper form-ui pt-4">
                    <div class="section-title title-wide mb-1 no-after-title-wide">
                        <h2 class="font-weight-bold">تایید شماره همراه</h2>
                    </div>
                    <div class="message-light">
                        برای شماره همراه @Model.Mobile کد تایید ارسال گردید
                        <a asp-action="ChangeMobileNumber" asp-route-mobile="@Model.Mobile" class="btn-link-border">
                            ویرایش شماره
                        </a>
                    </div>
                    <form method="post" id="form">
                        <input type="hidden" asp-for="Mobile" />
                        <input type="hidden" name="resendCode" id="resendCode" value="false" />
                        <div class="form-row-title">
                            <h3>کد تایید را وارد کنید</h3>
                        </div>

                        <div class="form-row">
                            <div class="numbers-verify">
                                <div class="lines-number-input">
                                    <input required name="ActiveCode" type="number" class="line-number" maxlength="1" autofocus="">
                                    <input required name="ActiveCode" type="number" class="line-number" maxlength="1">
                                    <input required name="ActiveCode" type="number" class="line-number" maxlength="1">
                                    <input required name="ActiveCode" type="number" class="line-number" maxlength="1">
                                    <input required name="ActiveCode" type="number" class="line-number" maxlength="1">
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <span class="text-primary">دریافت مجدد کد تایید</span>(
                            <p id="countdown-verify-end"></p>)
                        </div>
                        <div class="form-row-title mt-2">
                            <span class="text-danger font-weight-bold" asp-validation-for="Mobile"></span>
                            <span class="text-danger font-weight-bold" asp-validation-for="ActiveCode"></span>
                        </div>
                        <div class="form-row mt-3">
                            <button type="submit" class="btn-primary-cm btn-with-icon mx-auto w-100">
                                <i class="mdi mdi-account-circle-outline"></i>
                                تایید کردن شماره
                            </button>
                        </div>

                    </form>
                    <div class="form-footer mt-3">
                        <div>
                            <span class="font-weight-bold">کاربر جدید هستید؟</span>
                            <a asp-action="Register" class="mr-3 mt-2">ثبت نام در دیدیکالا</a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End main-content -->
<!-- End main-content -->
<!-- Start mini-footer -->
<partial name="Account/_PartialMiniFooter" />
<!-- End mini-footer -->

@section Script
{
    <script src="/digikalaTemplate/js/vendor/countdown.min.js"></script>
    <script>
        $('#countdown-verify-end').click(function () {
            var tag = $('#countdown-verify-end').children('a').removeAttr("href");
            if (tag.length != 0) {
                $('#resendCode').val('true');
                $('#form').submit();
            }
        });
    </script>
}
