@model Digikala.DTOs.AccountDtos.ResetPasswordDto

@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "_RegisterLayout";
}
@if (TempData["ResendActiveCode"] != null)
{
    <script>
        swal({
            title: "موفق",
            text: "کد فعالسازی شماره همراه برای شما پیامک گردید",
            icon: "success",
            button: "باشه"
        });
    </script>
}

<!-- Start mini-header -->
<partial name="Account/_PartialMiniHeader" />
<!-- End mini-header -->
<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
    <div class="container main-container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                <div class="form-ui dt-sl dt-sn pt-4">
                    <div class="section-title title-wide mb-1 no-after-title-wide">
                        <h2 class="font-weight-bold">@ViewBag.Title</h2>
                    </div>
                    <div class="message-light">
                        شما برای کاربر @Model.Mobile  در حال تغییر رمز عبور هستید.
                    </div>
                    <form method="post" id="form">
                        <input type="hidden" asp-for="Mobile" />
                        <input type="hidden" name="resendCode" id="resendCode" value="false" />
                        <div class="form-row-title">
                            <h3>کد فعال سازی ارسال شده</h3>
                        </div>
                        <div class="form-row with-icon">
                            <input required asp-for="ActiveCode" type="number" class="input-ui pr-2" placeholder="لطفا کد فعالسازی را را وارد نمائید">
                            <i class="mdi mdi-lock-open-variant-outline"></i>
                            <span class="text-danger font-weight-bold" asp-validation-for="ActiveCode"></span>
                        </div>
                        <div class="form-row-title">
                            <h3>کلمه عبور جدید</h3>
                        </div>
                        <div class="form-row with-icon">
                            <input required asp-for="Password" type="password" class="input-ui pr-2" placeholder="رمز عبور خود را وارد نمایید">
                            <i class="mdi mdi-lock-open-variant-outline"></i>
                            <span class="text-danger font-weight-bold" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-row-title">
                            <h3> تکرار کلمه عبور جدید</h3>
                        </div>
                        <div class="form-row with-icon">
                            <input required asp-for="ConfirmPassword" type="password" class="input-ui pr-2" placeholder="کلمه عبور را تکرار نمائید">
                            <i class="mdi mdi-lock-open-variant-outline"></i>
                            <span class="text-danger font-weight-bold" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="form-row mt-2">
                            <span class="text-primary">دریافت مجدد کد تایید</span>(
                            <p id="countdown-verify-end"></p>)
                        </div>
                        <div class="form-row mt-3">
                            <button type="submit" class="btn-primary-cm btn-with-icon mx-auto w-100">
                                <i class="mdi mdi-account-circle-outline"></i>
                                ثبت کلمه عبور جدید
                            </button>
                        </div>
                        <div class="form-footer text-right mt-3">
                            <span class="d-block font-weight-bold">قبلا ثبت نام کرده اید؟</span>
                            <a asp-action="Login" class="d-inline-block mr-3 mt-2">وارد شوید</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End main-content -->
<!-- Start mini-footer -->
<partial name="Account/_PartialMiniFooter" />
<!-- End mini-footer -->

@section Script
{
    <script src="/digikalaTemplate/js/vendor/countdown.min.js"></script>
    <script>
        $('#countdown-verify-end').click(function () {
            var tag = $('#countdown-verify-end').children('a').removeAttr("href");
            if (tag.length != 0) {
                $('#resendCode').val('true');
                $('#form').submit();
            }
        });
    </script>
}