 <!--begin::چسبناک Toolbar-->
<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
     <!--begin::Item-->
     <li class="nav-item mb-2" id="kt_demo_panel_toggle" data-toggle="tooltip" title="نسخه های نمایشی بیشتر را بررسی کنید" data-placement="right">
          <a class="btn btn-sm btn-icon btn-bg-light btn-icon-success btn-hover-success" href="#">
               <i class="flaticon2-drop"></i>
          </a>
     </li>
     <!--end::Item-->
     <!--begin::Item-->
     <li class="nav-item mb-2" data-toggle="tooltip" title="چیدمان سازنده" data-placement="left">
          <a class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary" href="https://preview.keenthemes.com/metronic/preview/demo1/builder.html" target="_blank">
               <i class="flaticon2-gear"></i>
          </a>
     </li>
     <!--end::Item-->
     <!--begin::Item-->
     <li class="nav-item mb-2" data-toggle="tooltip" title="مستندات" data-placement="left">
          <a class="btn btn-sm btn-icon btn-bg-light btn-icon-warning btn-hover-warning" href="https://keenthemes.com/metronic/?page=docs" target="_blank">
               <i class="flaticon2-telegram-logo"></i>
          </a>
     </li>
     <!--end::Item-->
     <!--begin::Item-->
     <li class="nav-item" id="kt_sticky_toolbar_chat_toggler" data-toggle="tooltip" title="چت نمونه" data-placement="left">
          <a class="btn btn-sm btn-icon btn-bg-light btn-icon-danger btn-hover-danger" href="#" data-toggle="modal" data-target="#kt_chat_modal">
               <i class="flaticon2-chat-1"></i>
          </a>
     </li>
     <!--end::Item-->
</ul>
<!--end::چسبناک Toolbar-->
<!--begin::نسخه ی نمایشی Panel-->
<div id="kt_demo_panel" class="offcanvas offcanvas-right p-10">
     <!--begin::Header-->
     <div class="offcanvas-header d-flex align-items-center justify-content-between pb-7">
          <h4 class="font-weight-bold m-0">
               انتخاب نسخه ی نمایشی
          </h4>
          <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_demo_panel_close">
               <i class="ki ki-close icon-xs text-muted"></i>
          </a>
     </div>
     <!--end::Header-->
     <!--begin::Content-->
     <div class="offcanvas-content">
          <!--begin::Wrapper-->
          @*<div class="offcanvas-wrapper mb-5 scroll-pull">
                   <h5 class="font-weight-bold mb-4 text-center">نسخه ی نمایشی 1</h5><div class="overlay rounded-lg mb-8 offcanvas-demo offcanvas-demo-active">
                       <div class="overlay-wrapper rounded-lg">
                           <img src="/panelTemplate/assets//../../../../../../doc//panelTemplate/assets/img/demos/demo1.png" alt="" class="w-100" />
                       </div>
                       <div class="overlay-layer">
                           <a href="https://metronic.job100.ir/ltr/html/demo1/dist/index.html" class="btn font-weight-bold btn-primary btn-shadow " target="_blank">پیش فرض</a>
                           <a href="https://metronic.job100.ir/rtl/html/demo1/dist/index.html" class="btn btn-light btn-shadow" target="_blank">نسخه راست چین</a>
                       </div>
                   </div>
               </div>*@
          <!--end::Wrapper-->
          <!--begin::خرید-->
          <div class="offcanvas-footer">
               <a href="https://www.rtl-theme.com/metronic-admin-html-template/" target="_blank" class="btn btn-block btn-danger btn-shadow font-weight-bolder text-uppercase">
                    خرید از سایت راست چین
               </a>
          </div>
          <!--end::خرید-->
     </div>
     <!--end::Content-->
</div>