<!DOCTYPE html>

<html direction="rtl" dir="rtl" style="direction: rtl">
<!--begin::Head-->
<head>
     <base href="">
     <meta charset="utf-8" />
     <title>@ViewBag.Title - دیجی کالا</title>
     <meta name="description" content="Updates and statistics" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

     <partial name="PanelLayoutShared/_PartialStylesPanelLayout" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

     <!--begin::Main-->
     <!--begin::Header Mobile-->
     <partial name="PanelLayoutShared/_PartialHeaderMobilePanelLayout" />
     <!--end::Header Mobile-->
     <div class="d-flex flex-column flex-root">
          <!--begin::Page-->
          <div class="d-flex flex-row flex-column-fluid page">
               <!--begin::Aside-->
               <div class="aside aside-left  aside-fixed  d-flex flex-column flex-row-auto" id="kt_aside">
                    <!--begin::Brand-->
                    <partial name="PanelLayoutShared/_PartialAsideBrandPanelLayout" />
                    <!--end::Brand-->
                    <!--begin::Aside Menu-->
                    <partial name="PanelLayoutShared/_PartialAsideMenuPanelLayout" />
                    <!--end::Aside Menu-->
               </div>
               <!--end::Aside-->
               <!--begin::Wrapper-->
               <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                    <!--begin::Header-->
                    <div id="kt_header" class="header  header-fixed ">
                         <partial name="PanelLayoutShared/_PartialHeaderPanelLayout" />
                    </div>
                    <!--end::Header-->
                    <!--begin::Content-->
                    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                         @RenderBody()
                    </div>
                    <!--end::Content-->
                    <!--begin::Footer-->
                    <partial name="PanelLayoutShared/_PartialFooterPanelLayout" />
                    <!--end::Footer-->
               </div>
               <!--end::Wrapper-->
          </div>
          <!--end::Page-->
     </div>
     <!--end::Main-->
     <!-- begin::User Panel-->
     <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
          <partial name="PanelLayoutShared/_PartialQuickUserTogglePanelLayout" />
     </div>
     <!-- end::User Panel-->
     <!--begin::Quick Cart-->
     <partial name="PanelLayoutShared/_PartialQuickCartPanelLayout" />
     <!--end::Quick Cart-->
     <!--begin::پنل سریع-->
     <partial name="PanelLayoutShared/_PartialQuickPanelLayout" />
     <!--end::پنل سریع-->
     <!--begin::چت Panel-->
     <partial name="PanelLayoutShared/_PartialChatPanelLayout" />
     <!--end::چت Panel-->
     <!--begin::Scrolltop-->
     <partial name="PanelLayoutShared/_PartialScrollTopPanelLayout" />
     <!--end::Scrolltop-->
     <partial name="PanelLayoutShared/_PartialStickyToolbatPanelLayout" />
     <!--end::نسخه ی نمایشی Panel-->
     <!--begin::Scripts-->
     <partial name="PanelLayoutShared/_PartialScriptPanelLayout" />
     <!--end::scripts-->
</body>
<!--end::Body-->
</html>
