<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link asp-append-version="true" rel="stylesheet" href="/digikalaTemplate/css/vendor/bootstrap.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" asp-append-version="true" href="/digikalaTemplate/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" asp-append-version="true" href="/digikalaTemplate/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" asp-append-version="true" href="/digikalaTemplate/css/vendor/nouislider.min.css">
    <!-- Font Icon -->
    <link rel="stylesheet" asp-append-version="true" href="/digikalaTemplate/css/vendor/materialdesignicons.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" asp-append-version="true" href="/digikalaTemplate/css/main.css">
    <link rel="stylesheet" asp-append-version="true" href="/digikalaTemplate/css/colors/default.css" id="colorswitch">
    <!-- Alert & Notification -->
    <link href="~/sweetAlert/sweetAlert.css" rel="stylesheet" />
    <script src="~/sweetAlert/sweetAlert.js"></script>
    <link href="/cuteAlert/style.css" rel="stylesheet" />
    <script src="/cuteAlert/cute-alert.js"></script>
</head>
<body>
    <div class="wrapper">
        @RenderBody()
    </div>

    <!-- colorPanel -->
    <div id="colorswitch-option">
        <button><i class="mdi mdi-settings"></i></button>
        <ul>
            <li class="active" data-path="./assets/css/colors/default.css">
                <span style="background-color: #f7858d;"></span>
            </li>
            <li data-path="./assets/css/colors/amber-color.css"><span style="background-color: #ffab00;"></span></li>
            <li data-path="./assets/css/colors/blue-color.css"><span style="background-color: #2979ff;"></span></li>
            <li data-path="./assets/css/colors/blue-grey-color.css">
                <span style="background-color: #607d8b;"></span>
            </li>
            <li data-path="./assets/css/colors/brown-color.css"><span style="background-color: #795548;"></span></li>
            <li data-path="./assets/css/colors/cyan-color.css"><span style="background-color: #00bcd4;"></span></li>
            <li data-path="./assets/css/colors/green-color.css"><span style="background-color: #4caf50;"></span></li>
            <li data-path="./assets/css/colors/indigo-color.css"><span style="background-color: #3f51b5;"></span></li>
            <li data-path="./assets/css/colors/lime-color.css"><span style="background-color: #cddc39;"></span></li>
            <li data-path="./assets/css/colors/orange-color.css"><span style="background-color: #ff9800;"></span></li>
            <li data-path="./assets/css/colors/red-color.css"><span style="background-color: #f44336;"></span></li>
            <li data-path="./assets/css/colors/teal-color.css"><span style="background-color: #009688;"></span></li>
            <li data-path="./assets/css/colors/purple-color.css"><span style="background-color: #9c27b0;"></span></li>
        </ul>
    </div>
    <!-- end colorPanel -->
    <!-- Core JS Files -->
    <script src="/digikalaTemplate/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/digikalaTemplate/js/vendor/popper.min.js"></script>
    <script src="/digikalaTemplate/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="/digikalaTemplate/js/vendor/owl.carousel.min.js"></script>
    <script src="/digikalaTemplate/js/vendor/jquery.horizontalmenu.js"></script>
    <script src="/digikalaTemplate/js/vendor/nouislider.min.js"></script>
    <script src="/digikalaTemplate/js/vendor/wNumb.js"></script>
    <script src="/digikalaTemplate/js/vendor/ResizeSensor.min.js"></script>
    <script src="/digikalaTemplate/js/vendor/theia-sticky-sidebar.min.js"></script>
    <!-- Main JS File -->
    <script src="/digikalaTemplate/js/main.js"></script>
    @await RenderSectionAsync("Script", false)
</body>

</html>