@model Digikala.DTOs.FormGenericDto.AdminPanel.ForCreateOrEdit.CardFooterCreateEditBtnForm
<div class="row">
   <div class="col-lg-6">
      @if (Model.IsExistSubmit)
      {
         <button type="submit" id="btnSubmit" asp-action="@Model.ActionSubmit" class="btn btn-success btn-shadow-hover font-weight-bold mr-2">@Model.LabelSubmit</button>
      }
      @if (Model.IsExistReturn)
      {
         <a class="btn btn-warning btn-shadow-hover font-weight-bold mr-2" asp-action="@Model.ActionReturn">@Model.LabelReturn</a>
      }
   </div>
</div>