
@{
     ViewData["Title"] = "Index";
     Layout = "_PanelLayout";
}
@if (TempData["IsSuccess"] != null)
{
     <script>
          swal({
               title: "موفق",
               text: "ورود با موفقیت انجام شد",
               icon: "success",
               button: "باشه"
          });
     </script>
}
<h1>Index</h1>

