@model Digikala.DTOs.Store.LoginStoreDto
@{
    ViewData["Title"] = "ورود به بخش فروشندگان";
    Layout = "_RegisterLayout";
}

<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
    <div class="container main-container">
        <div class="row">
             <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                  <!-- Start mini-header -->
                  <partial name="Account/_PartialMiniHeader" />
                  <!-- End mini-header -->
                  <div class="auth-wrapper form-ui pt-4">
                       <div class="section-title title-wide mb-1 no-after-title-wide">
                            <h2 class="font-weight-bold">@ViewData["Title"]</h2>
                       </div>
                       <form method="post">
                            <div class="form-row-title">
                                 <h3>ایمیل</h3>
                            </div>
                            <div class="form-row with-icon">
                                 <input asp-for="Email" required type="email" class="input-ui pr-2" placeholder="ایمیل خود را وارد نمائید">
                                 <i class="mdi mdi-account-circle-outline"></i>
                                 
                            </div>
                            <div class="form-row-title">
                                 <h3>شماره موبایل</h3>
                            </div>
                            <div class="form-row with-icon">
                                 <input required asp-for="Mobile" type="text" class="input-ui pr-2"
                                        placeholder="شماره موبایل خود را وارد نمایید">
                                 <i class="mdi mdi-account-circle-outline"></i>
                                 <span class="text-danger font-weight-bold" asp-validation-for="Mobile"></span>
                            </div>
                            <div class="form-row-title">
                                 <h3>رمز عبور</h3>
                            </div>
                            <div class="form-row with-icon">
                                 <input type="password" asp-for="Password" required class="input-ui pr-2" placeholder="رمز عبور خود را وارد نمایید">
                                 <i class="mdi mdi-lock-open-variant-outline"></i>
                            </div>
                            <div class="form-row-title mt-2">
                                 <span class="text-danger font-weight-bold" asp-validation-for="Email"></span>
                                 <span class="text-danger font-weight-bold" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-row mt-3">
                                 <button class="btn-primary-cm btn-with-icon mx-auto w-100">
                                      <i class="mdi mdi-login-variant"></i>
                                      ورود به بخش فروشندگان
                                 </button>
                            </div>
                       </form>
                       <div class="form-footer mt-3">
                            <div>
                                 <span class="d-block font-weight-bold">کاربر جدید هستید؟</span>
                                 <a asp-controller="Account" asp-action="Register" class="d-inline-block mr-3 mt-2">ثبت نام در دیدیکالا</a>
                            </div>
                            <div class="mt-3">
                                 <span class="d-block font-weight-bold">ساخت حساب فروشنده</span>
                                 <a  asp-action="Create" class="d-inline-block mr-3 mt-2">فروشنده شوید</a>
                            </div>
                       </div>
                  </div>
             </div>
        </div>
    </div>
</main>
<!-- End main-content -->

<partial name="Account/_PartialMiniFooter" />


