@model Digikala.DataAccessLayer.Entities.Identity.Role
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ثبت نقش جدید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <form method="post" asp-action="CreateRole">
                    <div class="modal-body">
                         <div class="form-group">
                              <label for="recipient-name" class="col-form-label">عنوان :</label>
                              <input asp-for="Title" type="text" class="form-control" id="recipient-name">
                         </div>
                    </div>
                    <div class="modal-footer">
                         <a href="#" class="btn btn-warning btn-shadow-hover font-weight-bold mr-2" data-dismiss="modal">بستن</a>
                         <button type="submit" class="btn btn-success btn-shadow-hover font-weight-bold mr-2">ثبت</button>
                    </div>
               </form>
          </div>
     </div>
</div>
@section scripts
{
     <script>
          $('#exampleModal').on('show.bs.modal', function (event) {
               //var button = $(event.relatedTarget); // Button that triggered the modal
               //var recipient = button.data('whatever'); // Extract info from data-* attributes
               // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
               // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
               //var modal = $(this);
               //modal.find('.modal-title').text('New message to ' + recipient);
               //modal.find('.modal-body input').val(recipient);
          })
     </script>
}