@model Digikala.DataAccessLayer.Entities.Identity.Role
<form method="post" asp-action="CreateRole">
     <div class="modal-body">
          <div class="form-group">
               <label for="recipient-name" class="col-form-label">عنوان :</label>
               <input required asp-for="Title" type="text" class="form-control" id="recipient-name">
          </div>
     </div>
     <div class="modal-footer">
          <a href="#" class="btn btn-warning btn-shadow-hover font-weight-bold mr-2" data-dismiss="modal">بستن</a>
          <button type="submit" class="btn btn-success btn-shadow-hover font-weight-bold mr-2">ثبت</button>
     </div>
</form>
