@model Digikala.DTOs.DtosAndViewModels.AdminPanel.Home.CreateSubPermissionDto
<form method="post" asp-action="CreateSubPermission">
   <input type="hidden" asp-for="ParentId" />
   <input type="hidden" asp-for="RootId" />
   <div class="modal-body">
      <div class="form-group">
         <label class="col-form-label" asp-for="ParentName"></label>
         <input disabled="disabled" asp-for="ParentName" type="text" class="form-control">
      </div>
      <div class="form-group">
         <label class="col-form-label" asp-for="Name"></label>
         <input required asp-for="Name" type="text" class="form-control">
      </div>
   </div>
   <div class="modal-footer">
      <a href="#" class="btn btn-warning btn-shadow-hover font-weight-bold mr-2" data-dismiss="modal">بستن</a>
      <button type="submit" id="btnSubmit" class="btn btn-success btn-shadow-hover font-weight-bold mr-2">ثبت</button>
   </div>
</form>