@using Digikala.DTOs.FormDto.AdminPanel.ForCreateOrEdit
@using Digikala.DTOs.FormDto.AdminPanel.ForIndex
@model Digikala.DTOs.InputParams.AdminPanel.Home.CreateRolePermissionDto
@{
   ViewBag.title = "افزودن سطح دسترسی";
   Layout = "_PanelLayout";
   var cardHeaderDto = new CardHeaderFormDto()
   {
      ExistBtn = false,
      CardLabel = ViewBag.title
   };
   var cardFooter = new CardFooterCreateEditBtnForm()
   {
      ActionReturn = "Index",
      ActionSubmit = "CreateRolePermission"
   };
}
@if (TempData["IsSuccess"] != null)
{
   <script>
      swal({
         title: "موفق",
         text: "عملیات با موفقیت انجام شد",
         icon: "success",
         button: false,
         timer: 2000
      });
   </script>
}

<!--begin::زیر هدر-->
@section SubHeader
{
   <partial name="PanelLayoutShared/_PartialSubHeaderPanelLayout" />
}
<!--end::زیر هدر-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
   <!--begin::Container-->
   <div class="container">
      <!--begin::Notice-->
      @section Notice
      {
         <partial name="PanelLayoutShared/_PartialNoticePanelLayout" />
      }
      <!--end::Notice-->
      <div class="row">
         <div class="col-xxl-12">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
               <div class="card-header">
                  <partial name="PanelLayoutShared/SharedForm/_PartialCardHedaerForm" model="cardHeaderDto" />
               </div>
               <!--begin::نمونه-->
               <!--begin: جستجو Form-->
               <form class="form" method="post" asp-action="CreateRolePermission">
                  <div class="card-body">
                     <div class="form-group row">
                        <div class="col-lg-6">
                           <label asp-for="RoleId"></label>
                           <select required class="form-control" asp-for="RoleId" asp-items="@ViewData["Roles"] as SelectList"></select>
                           <span class="form-text text-muted" asp-validation-for="RoleId"></span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-lg-12">
                           <div id="appendData">
                              <div class="form-group row align-items-center repeatData" id="repeatData">
                                 <div class="col-md-4 form-group">
                                    <label asp-for="PermissionId"></label>
                                    <select required class="form-control" name="PermissionId" asp-items="@ViewData["Permissions"] as SelectList"></select>
                                 </div>
                                 <div class="col-md-4 form-group">
                                    <label asp-for="ExpireRolePermission"></label>
                                    <input value="0" onfocus="callDate($(this))" name="ExpireRolePermission" readonly autocomplete="off" type="text" class="form-control expireRolePermission" placeholder="تاریخ انقضا این دسترسی را مشخص نمائید" />
                                 </div>
                                 <div class="col-md-2 col form-group mt-5">
                                    <a onclick="CleanInput($(this))" href="javascript:;" class="btn btn-sm font-weight-bolder btn-light-warning">
                                       <i class="la la-trash-o"></i>پاک کردن تاریخ
                                    </a>
                                 </div>
                                 <div class="col-md-2 col form-group mt-5">
                                    <a onclick="DeleteRow($(this))" href="javascript:;" class="btn btn-sm font-weight-bolder btn-light-danger">
                                       <i class="la la-trash-o"></i>حذف این رکورد
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div>
                              <a onclick="CreateRepeat()" href="javascript:;" class="btn btn-sm font-weight-bolder  btn-light-primary">
                                 <i class="la la-plus"></i>افزودن دسترسی جدید
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <span asp></span>
                  <div class="card-footer">
                     <partial name="PanelLayoutShared/SharedForm/_PartialCardFooterCreateEditBtnForm" model="cardFooter" />
                  </div>
               </form>
               <!--end::نمونه-->
            </div>
            <!--end::Card-->
         </div>
      </div>
   </div>
   <!--end::Container-->
</div>
<!--end::Entry-->
@section scripts
{
   <script>
      function callDate(input) {
         input.persianDatepicker();
         input.addClass("is-valid");
      }
      function CreateRepeat() {
         $('.repeatData:last').clone().fadeIn(600,
            function () {
               $(this).appendTo($('#appendData'));
            });
      }

      function DeleteRow(event) {
         //can not delete all permission
         if (event.closest('#appendData', 'div').children().length == 1) {
            return;
         }
         event.closest('#repeatData', 'div').fadeOut(400,
            function () {
               $(this).remove();
            });
      }
      function CleanInput(event) {
         var inputDate = event.closest('div').siblings().find('input.expireRolePermission');
         inputDate.val('0');
         inputDate.removeClass("is-valid");
      }
//      function changeMyCheckbox(checkbox) {
//         var expireDate = checkbox.closest('div').siblings().find('input.expireRolePermission');
//         //change input to active
//         if (expireDate.prop('disabled')) {
//            expireDate.removeAttr('disabled');
//            
//            expireDate.attr('required', 'required');
//         } else {
//            //change input to disabled
//            
//            expireDate.val('0');
//            expireDate.attr('disabled', 'disabled');
//         }
//      }
   </script>
}
